<div class="prueba">
  <div class="hola">
  <div class="column-1">
    <div class="buttons">
  
      <div class="sectionLogin">
        <div class="userLogin">
          <!-- <p class="userNombre">Hello! <br> <span>{{receivedData.username}}</span></p> -->
          <p class="userNombre">username</p>
            <img src="https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_1280.png" alt="" class="imgProfile">
            <!-- <p>{{receivedData.username}}</p> -->
        </div>
        <div class="seccionHora">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-calendar2-week-fill" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5m9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5M8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
          </svg>
          <button class="horaFormateada">{{fechaFormateada}}</button>
        </div>
        </div>
        <h4>Category</h4>
        <div class="rutas">
        <div class="sectionButton num1"  routerLink="/work">
          <div class="work">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
              <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
              <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
            </svg>
            <div>
              <p>Work</p>
              <p class="valorRecibido">{{valorRecibido}} Tasks</p>
            </div>
        </div>
      </div>
  
      <div class="sectionButton num1" routerLink="/home" style="background-color: #fe4878;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
        </svg>
        <p>Home</p>
      </div>
  
      <div class="sectionButton num1" routerLink="/vacaciones" style="background-color: #ffc138;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
          <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
        </svg>
        <p>Vacations</p>
      </div>
    </div>
  
    </div>
  </div>
  
 
<div class="btnFilters">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle filtro" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filters
    </button>
    <ul class="dropdown-menu">
      <li (click)="showDestacados()"><a class="dropdown-item" href="javascript:void(0)">Favoritos &#9733; </a></li>
      <li (click)="showCompletas()"><a class="dropdown-item" href="javascript:void(0)">Completadas <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
      </svg></a></li>
      <li (click)="showIncompletas()"><a class="dropdown-item" href="javascript:void(0)">Incompletas <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-exclamation-fill" viewBox="0 0 16 16">
        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg></a></li>
    </ul>
  </div>

  <div *ngIf="!mostrarList" class="btnDestacado" style="height: 45px">
    <button class="btn btn-danger" (click)="clearFilters()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg> Clear Filters</button>
  </div>

</div>

<div class="column-2 home"> 
  <div class="firstLine">
    <div class="sectionTitle">
      <h1>Home <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
      </svg></h1>
    </div>
  </div> 
  
  <div class="sectionItems" *ngIf="mostrarList">
    <ul  *ngFor="let campo of ToDoList.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)" class="item" [class.mi-clase]="campo.seleccionado">
      <div class="form-check form-switch first">
        <input class="form-check-input" type="checkbox"  [(ngModel)]="campo.completa" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"   [ngClass]="{'font-tachado': campo.completa}">{{campo.nombre}}</label>
      </div>
      <div class="tareas">
        <button class="heart-button" (click)="toggleClase(campo)">
          <span>&#10084;</span> 
        </button>
      <div [ngClass]="{'green-bg': campo.completa, 'red-bg': !campo.completa}"></div>
      </div>
    </ul>
  </div>
  
  
  <ng-container  *ngIf="showListDestacados">
    <app-list-filter-component *ngFor="let campo of ListDestacados.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)"
                               [campo]="campo" (toggleClase)="toggleClase($event)"  class="sectionItems">
    </app-list-filter-component>
  </ng-container>

  <ng-container *ngIf="mostrarCompletos">
    <app-list-filter-component *ngFor="let campo of ListCompletas.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)"
                               [campo]="campo" (toggleClase)="toggleClase($event)"  class="sectionItems">
    </app-list-filter-component>
  </ng-container>
  
  <ng-container  *ngIf="mostrarIncompletos">
    <app-list-filter-component *ngFor="let campo of ListIncompletas.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)"
                               [campo]="campo" (toggleClase)="toggleClase($event)"  class="sectionItems">
    </app-list-filter-component>
  </ng-container>
  
  <div class="boxPagination">
    <button class="btnPagination" (click)="previousPage()">Previous</button>
    <button class="btnPagination" (click)="nextPage()">Next</button>
  </div>

  <div class="areaButton">
    <button class="transparent-button" (click)="AddClick()" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="buttonAddTarea">
        <div>
          <p class="more">+</p>
        </div>
        <div>
        <p class="add-text">Add new task</p>
        </div>
      </div>
    </button>
    </div>
    
  </div>
  </div>
  </div>
  
  <div class="containerr rounded-3 modalTarea modal-dialog">
    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ModalTitle}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()"></button>
          </div>
          <div class="modal-body">
            <app-add-tarea [tar]="tar" [ToDoList]="ToDoList"  (numeroTotal)="capturarValor($event)" *ngIf="ModalActivado"></app-add-tarea>
          </div>
        </div>
      </div>
    </div>
  </div>