<div class="home">
    <button (click)="getTurnos()" style="margin-left: 25px">probamos</button>

    <table class="table table-striped mx-auto custom-table" style="align-items: center; margin-top: 25px; width: 80%;">
        <thead>
            <tr>
                <th>IdTurno</th>
                <th>IdPaciente</th>
                <th>IdProfesional</th>
                <th>Dia</th>
                <th>Horario</th>
            </tr>
        </thead>
    <tbody>
        <tr *ngFor="let turno of TurnosList" class="custom-table-row">
        <td>{{turno.idTurno}}</td>
        <td>{{turno.idPaciente}}</td>
        <td>{{turno.idProfesional}}</td>
        <td>{{turno.dia}}</td>
        <td>{{turno.horario.hours}}:{{turno.horario.minutes}}0</td>
        </tr>
    </tbody>
    </table>
</div>
<div class="todo">
    <app-to-do-component></app-to-do-component>
</div>

