<div class="form-froup row" data-bs-target="#exampleModal">

  <label class="col-sm-2 col-form-label">Tarea</label>
  <div class="col-sm-10 mb-2">
      <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Ingrese nombre de la tarea">
  </div>

  <label class="col-sm-2 col-form-label">Completada</label>
  <div class="col-sm-10 mb-2">
    <label>
        <input type="radio" name="estadoTarea" [(ngModel)]="completa" [value]="true"> Realizada
      </label>
      <label>
        <input type="radio" name="estadoTarea" [(ngModel)]="completa" [value]="false" style="margin-left: 15px;"> Incompleta
      </label>
  </div>

  <button (click)="addTarea()" class="btn btn-primary">
    Add
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16" style="margin-left: 5px;">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
</button>

</div>
